body {
    background-color: rgb(9, 31, 80);
}

.title-color{
    color: white;
    text-align: center;
    background-color: #123179;
    border: 3px solid #021d5c;
}

.demobox1 {
    background-color: #3867d6;
    padding: 100px ;
    border: 3px solid #4b7bec;
    width: 200px;
    height: 30px;
    position: absolute;
    bottom: 550;
    right: 1015;
  }
.demobox2 {
    background-color: #3867d6;
    padding: 100px ;
    border: 3px solid #4b7bec;
    width: 200px;
    height: 30px;
    position: absolute;
    bottom: 290;
    right: 1015;
  }

.demobox3 {
    background-color: #3867d6;
    padding: 100px ;
    border: 3px solid #4b7bec;
    width: 200px;
    height: 30px;
    position: absolute;
    bottom: 30;
    right: 1015;
  }

.demobox4 {
    background-color: #3867d6;
    padding: 100px ;
    border: 3px solid #4b7bec;
    width: 200px;
    height: 30px;
    position: absolute;
    bottom: 550;
    right: 515;
  }

.demobox5 {
    background-color: #3867d6;
    padding: 100px ;
    border: 3px solid #4b7bec;
    width: 200px;
    height: 30px;
    position: absolute;
    bottom: 290;
    right: 515;
  }

.demobox6 {
    background-color: #3867d6;
    padding: 100px ;
    border: 3px solid #4b7bec;
    width: 200px;
    height: 30px;
    position: absolute;
    bottom: 30;
    right: 515;
  }

.demobox7 {
    background-color: #3867d6;
    padding: 100px ;
    border: 3px solid #4b7bec;
    width: 200px;
    height: 30px;
    position: absolute;
    bottom: 550;
    right: 25;
  }

.demobox8 {
    background-color: #3867d6;
    padding: 100px ;
    border: 3px solid #4b7bec;
    width: 200px;
    height: 30px;
    position: absolute;
    bottom: 290;
    right: 25;
  }

.demobox9 {
    background-color: #3867d6;
    padding: 100px ;
    border: 3px solid #4b7bec;
    width: 200px;
    height: 30px;
    position: absolute;
    bottom: 30;
    right: 25;
  }  

.div {
    width: 320px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0; 
  }

.button {
    background-color: #0652DD;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
.button1:hover {
    color: rgb(21, 120, 248);
    background-color: #123179;
    box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.24),0 20px 50px 0 rgba(0, 0, 0, 0.19);
  }

.title-box1 {
    text-align: center;
    color: white;
    background-color: #123179;
    border: 3px solid #021d5c;
    padding: 10px;
    width: 170px;
    height: 15px;
    position: absolute;
    bottom: 720;
    right: 1035;
}

.comment-box {
    text-align: center;
    color: white;
    background-color: #123179;
    border: 3px solid #021d5c;
    padding: 50px;
    width: 90px;
    height: 45px;
    position: absolute;
    bottom: 560;
    right: 1035;
    font-size: 14px;
}

